<ion-view view-title="Персональные данные">
<ion-content class="has-subheader">
<div class="list">
   <label class="item item-input">Фамилия: 
   <input type="text" placeholder="Цымбалюк">
   </label>
   <label class="item item-input">Имя:
   <input type="text" placeholder="Владимир">
   </label>
   <label class="item item-input">Email: 
   <input type="text" placeholder="demo@gmail.com">
   </label>
   <label class="item item-input">Телефон: 
   <input type="text" placeholder="+996777889977">
   </label>
   <label class="item item-input">Пароль:
   <input type="text" placeholder="demo">
   </label>
   <div class="Button"><button class="button button-block" ng-click="save()">Сохранить</button></div>
</div>
</ion-content>
</ion-view>